@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: InterVariable, sans-serif;
  --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";

  --color-bg-dark: #15131c;
  --color-bg: #201e22;
  --color-bg-light: #2b292e;
  --color-accent: #8566ea;
  --color-accent-dark: #553da7;
  --color-accent-light: #ada3d1;
  --color-text: #f4f4f4;
  --color-white: #f4f4f4;

  --text-xs: clamp(0.75rem, 0.9rem, 1.25vw);
  --text-sm: clamp(0.9rem, 1rem, 1.75vw);
  --text-base: clamp(1rem, 1.05rem, 2vw);
  --text-md: clamp(1.2rem, 1.4rem, 2.8vw);
  --text-lg: clamp(1.5rem, 1.8rem, 3vw);
  --text-xl: clamp(2rem, 2.3rem, 4vw);
  --text-2xl: clamp(2.5rem, 3rem, 5vw);
  --text-3xl: clamp(2.5rem, 4rem, 6vw);
  --text-4xl: clamp(2.5rem, 5rem, 7vw);
}
#bg-gradient {
  position: fixed;
    z-index: 0;
  top: 50%;
  left: 0;
  width: 80vw;
  height: 100vh;
  background: var(--color-accent);
  background: radial-gradient(
    circle,
    var(--color-accent) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 50%;
  transform: translate(-60%, -50%);
  filter: blur(120px);
  opacity: 0.1;
  pointer-events: none;
}

@utility glow-* {
  box-shadow: 0 0 50px 10px --value(--color-*);
}

.code-keyword {
  color: var(--color-accent);
}
.code-text {
  color: var(--color-accent-light);
}
